/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* TOPO */
.topo {
    background-color: #1b5e20;
    color: white;
    padding: 15px 20px;
}

.topo-esquerda {
    display: flex;
    align-items: center;
    gap: 15px;
}

.topo img {
    height: 45px;
}

.topo h1 {
    font-size: 22px;
}

.topo p {
    font-size: 14px;
    opacity: 0.9;
}

/* MENU */
.menu {
    background-color: #ffffff;
    padding: 12px 20px;
    border-bottom: 2px solid #ddd;
}

.menu a {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.menu a:hover,
.menu a.ativo {
    color: #1b5e20;
}

/* CONTEÚDO */
.conteudo {
    padding: 20px;
    background-color: #f2f2f2;
}

/* TÍTULO */
.conteudo h2 {
    margin-bottom: 15px;
    color: #1b5e20;
}

/* CARDS DE STATUS */
.cards {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.card {
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
    color: #333;
    flex: 1;
    text-align: center;
}

/* TABELA */
#tabela-funcionarios {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

#tabela-funcionarios th,
#tabela-funcionarios td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#tabela-funcionarios th {
    background-color: #1b5e20;
    color: white;
}

/* STATUS */
.status {
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
    min-width: 120px;
    text-align: center;
}

/* STATUS ESPECÍFICOS */
.status.ativo {
    background-color: #2e7d32;
    color: white;
}

.status.ferias {
    background-color: #616161;
    color: white;
}

.status.licenca {
    background-color: #8e0000;
    color: white;
}

.status["sem-motorista"] {
    background-color: #9e9e9e;
    color: white;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    #tabela-funcionarios th,
    #tabela-funcionarios td {
        font-size: 14px;
        padding: 8px;
    }

    .menu a {
        display: inline-block;
        margin-bottom: 8px;
    }

    .cards {
        flex-direction: column;
    }
}

/* RODAPÉ */
.rodape {
    width: 100%;
    margin-top: 40px;
    padding: 15px 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;

    display: flex;
    justify-content: center;   /* centraliza horizontal */
    align-items: center;

    text-align: center;
    font-size: 14px;
    color: #555;
}

.rodape strong {
    color: #1b5e20;
}